In [9]:
import numpy as np
import pandas as pd
import datetime

In [36]:
data_1.head()

,Province/State,Country/Region,Last Update,Confirmed,Suspected,Recovered,Death
0,Hubei,Mainland China,1/28/2020 18:00,3554.0,NaN,80.0,125.0
1,Guangdong,Mainland China,1/28/2020 18:00,207.0,NaN,4.0,NaN
2,Zhejiang,Mainland China,1/28/2020 18:00,173.0,NaN,3.0,NaN
3,Henan,Mainland China,1/28/2020 18:00,168.0,NaN,NaN,1.0
4,Hunan,Mainland China,1/28/2020 18:00,143.0,NaN,NaN,NaN

In [41]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669 entries, 0 to 668
Data columns (total 7 columns):
Province/State    544 non-null object
Country/Region    669 non-null object
Last Update       669 non-null object
Confirmed         639 non-null float64
Suspected         88 non-null float64
Recovered         91 non-null float64
Death             64 non-null float64
dtypes: float64(4), object(3)
memory usage: 36.7+ KB

In [42]:
data_1.describe()

         Confirmed   Suspected  Recovered       Death
count   639.000000   88.000000  91.000000   64.000000
mean     52.640063   22.613636   7.703297   13.312500
std     241.486512   48.177696  15.115477   28.627811
min       1.000000    1.000000   1.000000    1.000000
25%       2.000000    1.000000   1.000000    1.000000
50%       7.000000    4.000000   2.000000    1.000000
75%      33.000000   22.000000   3.500000    1.000000
max    3554.000000  244.000000  80.000000  125.000000

In [43]:
data_1.isnull().count()

Province/State    669
Country/Region    669
Last Update       669
Confirmed         669
Suspected         669
Recovered         669
Death             669
dtype: int64

In [45]:
adjusted_unique_dates = list(data_1['Last Update'].unique())
adjusted_unique_dates.sort()
adjusted_unique_dates

['1/21/2020',
 '1/22/2020 12:00',
 '1/23/20 12:00 PM',
 '1/24/2020 12:00 AM',
 '1/24/2020 12:00 PM',
 '1/24/2020 4:00 PM',
 '1/25/2020 10:00 PM',
 '1/25/2020 12:00 AM',
 '1/25/2020 12:00 PM',
 '1/26/2020 11:00 AM',
 '1/26/2020 23:00',
 '1/27/2020 19:00',
 '1/27/2020 20:30',
 '1/27/2020 9:00',
 '1/28/2020 13:00',
 '1/28/2020 18:00']

In [47]:
from IPython.core.interactiveshell import InteractiveShell  
InteractiveShell.ast_node_interactivity = "all"

In [50]:
str.center(length, fillchar),where :

SyntaxError: invalid syntax (<ipython-input-50-f6f2db5c0553>, line 1)

1. center( )

The center() method center aligns a string. The alignment is done using a specified character (whitespace is default)

In [70]:
sentence = 'algorithm'
sentence.center(15,'#')

'###algorithm###'

In [71]:
sentence = 'She sells seashells by the seashore. The shells she sells are surely seashells.she is very beautiful girl in this world. she is very innocent.she is very pretty.'
sentence.count('ll')
sentence.count('she',6,40)

5

1